body {
  background-color:black;
  font-family:arial;
  color:white;
}

h1{
  color:grey;
  font-family:verdana;
  text-align: center;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  align-self:center;
}

label {
  display: inline-block;
  width: 100px;
  padding-left: 80px;
}

button {
  margin-left: 80px;
}

#result {
  padding-left: 80px;
}

mark {
  background-color: yellow;
  color:black;
}

footer {
  text-align: left;
}
